.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 5px;
    background-color:  #0C1349;
    margin-bottom: 50px;
  }

  .logo img {
    width: 75px; 
    height: 75px; 
  }